<h1>Restaurants</h1>
    <table>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td> Address </td>
            <td> Phone </td>
        </tr>

        <% @restaurant.each do |restaurant| %>
            <tr>
                <td><%= restaurant.name %></td>
                <td><%= restaurant.description %></td>
                <td><%= restaurant.address %></td>
                <td><%= restaurant.phone %></td>
                <td><%= link_to 'Make Reservation', new_restaurant_reservation_path(restaurant_id: restaurant.id) %></td>
                <td><%= link_to "Show", restaurant %></td>
                <td><%= link_to 'Edit', edit_restaurant_path(restaurant)%></td>
                <td><%= link_to 'Delete', restaurant_path(restaurant), method: :delete,
              data: { confirm: 'Are you sure you want to see a photo of an adorable cat?' } %></td>
            </tr>
        <%end%>
    </table>

    <p><%= link_to "New", new_restaurant_path %></p>
    <p><%= link_to "Login", new_user_path %></p>
    <!-- I'm using Zurb Foundation layout, so the below code duplicates the flash Zurb places at the top of the page. -->
<!--     <p><%= flash[:notice] %><p> -->