<p> Name </p>
    
    <table>
        <th>
            <td>Name</td>
            <td>Description</td>
            <td> Address </td>
            <td> Phone </td>
        </th>
       
            <tr>
                <td><%= @restaurant.name %></td>
                <td><%= @restaurant.description %></td>
                <td><%= @restaurant.address %></td>
                <td><%= @restaurant.phone %></td>
            </tr>
        
    </table>

<img  src= <%= @map1 %> />

<p><%= link_to 'Index', root_path %></p>
<p><%= link_to "Edit", edit_restaurant_path %></p>
<p><%= link_to 'Cat Photo', restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you sure you want to see a photo of an adorable cat?' } %></p>
